/* ========================================
   GLOBAL RESET & BASE STYLES
======================================== */
* {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: border-box;
    /* background-color: #201e43f3; */
}

/* ========================================
   MAIN LAYOUT CONTAINERS
======================================== */
.body {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: #ccc;
    background-color: #201e43f3;
}

.main {
    width: 82.5%;
    height: inherit;
    padding-top: 2%;
    padding-left: 15%;
    /* background-color: #201e43f3; */
}

/* ========================================
   NAVIGATION STYLES
======================================== */
nav {
    background-color:#d33f34;
    width: 10%;
    height: inherit;
    color: white;
    font-size: 16px;
    padding-top: 7%;
    padding-left: 1%;
    display: flex;
    justify-content:left;
    position: fixed;
}

.link_container {
    font-weight: bold;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;    
}

nav a {
    height: 5%;
    /* width: 60%; */
    padding: 0 10px;
    display: flex;
    text-decoration: none;
}

nav a:hover {
    background-color:wheat;
    border-radius: 5%;
    margin: 0px;
    color: black;
}

.sec {
    /* font-weight: bold; */
    font-size: 70%;
    width: 60%;
    /* padding-top: 9%; */
    color:rgb(240, 219, 191);
    text-decoration: none;
    font-size: 115%;
}

/* ========================================
   TYPOGRAPHY & BRANDING
======================================== */
.company_name {
    font-size:150% ;
    font-weight: bold;
    color:#f44336;
}

/* .section {
    font-weight: bold;
    font-size: 70%;
} */

/* nav ul li{
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    margin-left: -38px;
    font-size: 100%;
} */

/* .cn{
    font-size: 24px
} */

.interior {
    font-size: 350%;
}

.segment {
    font-size: 275%;
    color: #f44336;
    padding-bottom: 2%;
}

.head {
    padding-bottom: 1.75%;
}

.bar {
    height: 10px;
    width: 60px;
    border-radius: 4px;
    margin: 20px;
    margin-left: 0px;
    background-color: #f44336;
}

/* ========================================
   PHOTO GALLERY SECTION
======================================== */
.photo {
    position:relative ;
    width: 100%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
    grid-gap: 1%;
    margin-bottom: 12%;
}

.photo img {
    width: 100%;
    cursor: pointer;
    opacity: .8;
    /* z-index: -1; */
}

.photo img:hover {
    opacity: 1;
}

/* ========================================
   SERVICE SECTION
======================================== */
.service {
    margin-bottom: 12%;
    font-size: 16px;
}

/* ========================================
   DESIGNER SECTION
======================================== */
/* css for deginer section */
.designer {
    height: inherit;
    width: 100%;
    font-size: 16px;
    margin-bottom: 12%;
}

.detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.person {
    width: 32.5%;
    background-color: #0000000d;
}

.personi {
    opacity: .8;
    width: 100%;
}

.padding {
    font-size: 16px;
    padding: 5%;
}

/* ========================================
   PACKAGES SECTION
======================================== */
/* css for packages section */
.pack {
    width: 100%;
    height: inherit;
    margin-bottom: 12%;
}

.facility {
    display: flex;
    justify-content: space-between;
}

.list_basic,
.list_pro {
    width: 49.2%;
    background-color: #0000000d;
}

.list_basic div,
.list_pro div {
    padding: 4%;
    border-bottom: 1px solid #0000000d;
    text-align: center;
    font-size: 115%;
}

.basic,
.pro {
    height: auto;
    font-weight: bold;
    font-size: 200%;
    color: white;
    background-color: #616161;
}

.pro {
    background-color: #f44336;
}

.cost button,
.list_pro button {
    border-style: none;
    font-size: larger;
}

.cost button:hover {
    border-style: 1px solid rgba(248, 188, 188, 0.732);
    background-color: #f44336;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: larger;
}

.ammount {
    font-size: 2rem;
}

.signup button {
    font-size: medium;
    background-color: rgb(214, 63, 63);
    border: 10px solid rgb(214, 63, 63);
    border-radius: 5%;
}

.signup button:hover {
    background-color: #616161;
    border: 10px solid #616161;
    color: white;
}

/* ========================================
   CONTACT SECTION
======================================== */
/* css for contact */
.contact {
    width: 95%;
    padding: 5%;
}

input,
.submit {
    margin-bottom: 16px;
    width: 100%;
    height: 40px;
    background-color: rgb(220, 219, 219);
}

.submit {
    background-color: #f44336;
    color: white;
    border: none;
}

.submit:hover {
    background-color: #ccc;
    color: black;
}

/* ========================================
   GENERAL STYLES
======================================== */
/* .thanks
{
    visibility: hidden;
} */

/* a {
    text-decoration: none;
    color: white;
} */

a {
    text-decoration: none;
    color: white;
}

nav .home-link {
    margin-right:auto ;
}

nav svg {
    fill:#ccc;
}
/* ========================================
   SIDEBAR MOBILE MENU
======================================== */
#sidebar {
    display: none;
}

.close-sidebar , .open-sidebar {
    padding: 0 20px;
    display: none;
}

/* ========================================
   RESPONSIVE DESIGN - MOBILE
======================================== */
@media(max-width:450px){
    .link_container{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top:0;
        left: -100%;
        z-index: 10;
        width: 300px;
        background-color:#f44336 ;
        box-shadow: -5px 0 5px rgba(0,0,0,.25) ;
        transition: .75s ease-out;
    }
    
    nav{
        position: unset;
        padding-top:5%;
        margin: 0%;
        background-color:#201e4300;
        padding-left: -5%;
        width: 5%;
    }
    
    .main{
        width: 80%;
        padding-left: 5%;
        padding-right: 4%;
    }
    
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    
    .close-sidebar , .open-sidebar{
        display: block;
    }
    
    #sidebar:checked ~ .link_container{
        left: 0;
    }
}
